
.vs/MyPastebin/config/applicationhost.config
.vs/MyPastebin/DesignTimeBuild/.dtbcache.v2
.vs/MyPastebin/FileContentIndex/5d7a3b05-1cad-47ba-a2a7-056ff2d286ee.vsidx
.vs/MyPastebin/v17/.suo
.vs/MyPastebin/v17/DocumentLayout.json
